.menu {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu li {
      display: inline-block;
      margin-right: 10px; 
    }

    .menu li a {
      display: block;
      padding: 10px;
      text-decoration: none;
    }

    .hel {
    font-family: Helvetica neue light, sans-serif;
  }

  img {
      max-width: 85%;
      height: auto;
    }